*.pyc
*.pem
.vscode
.pytest_cache
workspace.code-workspace
geckodriver.log
venv
*.handlebars
package-lock.json
package.json
.eslintrc.json
/node_modules
**/__pycache__/
.env
nohup.out
**/fontawesome-free-5.15.4/**
**/d3-7.3.0/**
**/js/socket.io.js