<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/utilities.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/container.css') }}"
    />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.min.css') }}"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="{{ url_for('static', filename='js/handlebars.runtime.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script> -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/textTemplate.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='./d3-7.3.0/package/dist/d3.min.js') }}"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.3.0/d3.min.js"
      integrity="sha512-NMhzM2RHzbCRO0s5VPaRC+2bW6nmNXimzC9p5sp2x19M+zzuSJ2T50dEQ7hpHkNjnX1mt8nQg1NNthwRZgsoIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{{ url_for('static', filename='js/handlebars.runtime.js') }}"></script>
    <script src="{{ url_for('static', filename='js/siteContainer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/textTemplate.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/getDisplayName.js') }}"></script>     -->
    <script
      type="module"
      src="{{ url_for('static', filename='js/requests.js') }}"
    ></script>
    <!-- <script type="module" src="{{ url_for('static', filename='js/loadContainer.js') }}"></script>         -->
    <script
      type="module"
      src="{{ url_for('static', filename='js/display_logic.js') }}"
    ></script>
    <script src="{{ url_for('static', filename='js/newUserDisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newChannelModal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/joinChannelModal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/loneModal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/errorModal.js') }}"></script>

    {% block scripts %}{% endblock %}
    <title>Flackt | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="site-container">{% block container %} {% endblock %}</div>
    <div class="modal"></div>

    {% block DOMLoadedScripts %} {% endblock %}

    <script
      type="module"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/posts.js') }}"
    ></script>
  </body>
</html>
