<div id="lone-modal">
    <div class="lone-modal-container">
        <div class="modal-child">
                <canvas width="60" height="60" id='close-modal-btn'></canvas>
            {{{loneModal}}}        
        </div>        
    </div>
</div>


