<div class='p-3' id='create-channel'>
  <h1 class='h-4 fs-1'><i
      class='fas fa-arrow-left previous-modal-from-create'
    ></i>Create Channel
    <i class='fas fa-arrow-right next-modal-from-create'></i>
  </h1>
  <div class='channel-add'>
    <div class='channel-add-form'>
      <form action='' class='channel-form' id='create-channel-form'>
        <div class='form-row p-2'>
          <label for='channel-name'>Channel Name:</label>
          <input
            type='text'
            autocomplete='off'
            placeholder='Channel Name'
            id='channel-name'
            maxlength='15'
          />

        </div>
        <div class='form-row p-2'>
          <label for='channel-topic'>Topic:</label>
          <input
            type='text'
            autocomplete='off'
            placeholder='Channel Topic'
            maxlength='20'
            id='channel-topic'
          />
        </div>
        <div class='form-row p-2'>
          <label for='channel-description'>Description:</label>
          <textarea
            type='text'
            autocomplete='off'
            maxlength='35'
            id='channel-description'
            rows='3'
          >
          </textarea>
        </div>
        <div class='message p-1 fs-0'>

        </div>

        <div class='form-button-row p-2'>
          <input
            id='create-channel-button'
            class='btn-primary'
            type='submit'
            value='Add Channel'
          />
        </div>
      </form>
    </div>
  </div>
</div>