<div id="modal-first-time-user">    
    <div id="modal-container">
    <div id="modal-1" class="modal-display">
    <form action="" id="getDisplayName" class="modal-contents">
        <h1 class="form-heading h-4 fs-1 p-2">Enter Your Flackt Display Name</h1>
        <div class="form-row p-2">
            <label for="displayName">
                Name&colon;
            <input type="text" autocomplete="off" placeholder="Enter Display Name" id="displayName">
            </label>
        </div>
        <div class="message p-1 fs-0" >
            
        </div>        
        <div class="form-row p-2">
            <input class="btn-primary" type="submit" value="Accept">
        </div>                
    </form>    
</div>

<div id="modal-2" class="modal-display">
    <div class="p-4" id="channel-create-or-pick">
        <button id="new-user-create-channel" class="btn-primary">Create Channel</button>
        {{!--#if channelsavailable--}}
        <h4>Or</h4>
        <button id="new-user-join-channel" class="btn-primary">Join Channel</button>
        {{!--/if--}}
    </div>
</div>
<div id="modal-3" class="modal-display create-channel-modal">

    {{{createNewChannel}}}
    
</div>    
    <div id="modal-4">
        {{{pickChannelFromList}}}
        
    </div>
    </div>
</div>
</div>
</div>

